:root {
	--colorGray: #c0dbd9;
	--colorGrayDark: #88b5bf;
		
	--colorBlue: #7faff6;
	--colorBlueLight: #a5c7f9;
	
	--colorGreen: #8ad191;
	--colorYellowGreen: #b3f95a;
	
	--colorAquamarine: #0d89b0;
	
	--colorWhite: #ffffff;
	--colorBlack: #000000;
}